/* * {
    border: 0.1rem solid red
} */

body {
  margin: 5rem;
  padding: 2rem;
  display: flex;
}

.right {
  width: 50%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}

img {
  border: 0.1rem solid black;
  animation: rotate 4.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}

#count {
  font-size: 3em;
  text-align: center;
}

