* {
    border: 0.1rem solid red
}

html, body
{
    height: 100%;
    margin:0;
    padding:0;
}
.background {
  height: 100%;
  width: 100%;
  display: flex;
  /* border: 0.1rem solid black; */
}

.background> * {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 10%;
}

.rightContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 10%;
}

.leftLines {
  width: 10%;
}

.rightLines {
  transform: scaleX(-1);
  width: 10%;
}

.elephant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.elephant img {
  width: 100%;
}

.leftColumn .elephant {
  animation: rotate 4.5s linear infinite;
}

.leftColumn .elephant img {
  transform: scaleX(-1);
}

.rightColumn .elephant {
  animation: rotate 4.5s reverse linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}