/* * {
    border: 0.1rem solid red
} */

@font-face {

  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('/fonts/Ubuntu-Bold.woff2') format('woff2');
}

@font-face {

  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('/fonts/Ubuntu-Medium.woff2') format('woff2'),
}

@font-face {

  font-family: 'Ubuntu';
  font-weight: 200;
  src: url('/fonts/Ubuntu-Regular.woff2') format('woff2'), 
}

html, body
{
    height: 100%;
    margin:0;
    padding:0;
}
.background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.background> * {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.leftContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 30%;
  padding-top: 10%;
}

.rightContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 30%;
  padding-top: 10%;
}

.leftLines {
  width: 10%;
}

.rightLines {
  transform: scaleX(-1);
  width: 10%;
}

.elephant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.elephant img {
  width: 100%;
}

.leftColumn .elephant {
  /* animation: rotate 4.5s linear infinite; */
}

.leftColumn .elephant img {
  transform: scaleX(-1);
}

.rightColumn .elephant {
  /* animation: rotate 4.5s reverse linear infinite; */
}

.bottom {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 1%;
}

.bottom textarea {
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 4em;
  text-indent: 10em;
  color: rgb(61, 61, 61);
  padding: 2rem;
  width: 80vw;
  height: 20vh;
  background-color: rgb(255, 255, 255);
  border: 0cap;
  caret-color: rgb(153, 153, 153);
}

.bottom span {
  position: absolute;
  left: 0;
  top: 0;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 4em;
  padding: 2rem;;
  color: rgb(170, 170, 170);
}

textarea:focus {
  outline: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}